/* PROJECT INFORMATION
  - Responsive Design: Three sizes (mobile(300- 768px), tablet(768px-1024px), desktop(1024px+))
*/

/* General */
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Oxygen:wght@300;400&family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,600;1,700&display=swap&family=Eczar:wght@400;500;700&display=swap");

@font-face{
  font-family: 'JuliettaMessieFont';
  src: url(../Fonts/julietta-messie/Julietta-Messie-Demo.otf);
}
/* 
  font-family: 'Montserrat' 400, 500, 700;
  font-family: 'Oxygen' 300, 400;
  font-family: 'Playfair Display' 400, 500, 700 / Italic 600, 700;
  font-family: 'Eczar' 400, 500, 700;
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --color_1: #ffffff;
  --color_2: #000000;
  --color_3: #ceb19c;
  --color_4: #ceb39c;
  --color_5: #faf0e6;
  --color_6: #f8f7f1;
  --color_7: #545454;
  --size_1: 1rem;
  --size_2: 1.5rem;
  --size_3: 2rem;
  --size_4: 2.5rem;
  --size_5: 3rem;
  --size_6: 4rem;
  --size:7: 5rem;
  --font_family_Montserrat: "Montserrat", "Arial", sans-serif;
  --font_family_Oxygen: "Oxygen", "Arial", sans-serif;
  --font_family_Playfair_Display: "Playfair Display", "Arial", serif;
  --font_family_JuliettaMessie: "JuliettaMessieFont", "Arial", serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--color_1);
}
/* HEADER */
header {
  min-width: 100%;
  min-height: 100px;
  background-color: var(--color_5);
  color: var(--color_4);
  display: flex;
  justify-content: center;
  position: fixed;
  align-items: center;
  top: 0;
  gap: clamp(1rem, 5vw, 2rem);
  z-index: 1000;
  font-size: var(--size_1);
  font-family: var(--font_family_Oxygen);
  font-weight: 400;
  padding: 0 var(--size_1);
  user-select: none;
  transition: 0.3s;
}

header a{
  color:var(--color_3);
}
header div:not(.logo-image):hover {
  color: var(--color_2);
  transition: 0.3s;
  cursor: pointer;
}
/* Logo section */
header .logo-image {
  text-align: center;
  font-size: var(--size_2);
  color: var(--color_4);
  font-weight: 700;
  position: relative;
}

header .logo-image:before,
header .logo-image:after {
  content: "";
  position: absolute;
  border: 2px solid var(--color_2);
  margin: -0.2rem -0.8rem;
}

header .logo-image:before {
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  border-bottom: transparent;
  border-right: transparent;
}

header .logo-image:after {
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  border-top: transparent;
  border-left: transparent;
}
/* End of Logo */
/* END OF HEADER */
/* MAIN */
main {
  width: 100%;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* Hero Section */
main .hero-section {
  width: clamp(1000px, 100%, 100vw);
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

main .hero-image img {
  backdrop-filter: blur(10px);
  filter: blur(2px);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

main .hero-content {
  width: 100%;
  max-width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main .hero-content .hero-message {
  color: var(--color_1);
  font-size: var(--size_6);
  font-family: var(--font_family_Playfair_Display);
  text-align: center;
  line-height: 120%;
  transform: scaleY(1.1);
  user-select: none;
  line-height: 70%;
}

main .hero-content .hero-message #bodivsekarsi{
  font-family: var(--font_family_JuliettaMessie); 
}

main .hero-content .hero-message #salonnohtkov{
  font-family: var(--font_family_Oxygen);
  font-weight: 300;
  font-size: var(--size_4);
}

main .hero-content .hero-message #dobrodošlivsalonu{
  font-family: var(--font_family_Playfair_Display);
  font-weight: 400;
  font-size: var(--size_2);
}

main .hero-content .hero-button button {
  margin-top: 2rem;
  border: 2px solid var(--color_1);
  color: var(--color_1);
  font-size: var(--size_1);
  font-family: var(--font_family_Oxygen);
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  color: var(--color_2);
  position: relative;
}

main .hero-content .hero-button button p{
  position: relative;
  margin: 0.5rem 1rem;
}

main .hero-content .hero-button button p::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.15s ease-in;
}

main .hero-content .hero-button button p:hover::after {
  transform: scaleX(0);
  transform-origin: bottom left;
}

main .hero-content .hero-button button p:hover {
  border-bottom: none;
}

@media (max-width: 1024px) {
  .hero-image img{
    width: clamp(600px, 100%, 100vw);
  }
}
/* End of Hero Section */
/* Start of Zakaj Section */
main .zakaj-section {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .zakaj-section .zakaj-left,
main .zakaj-section .zakaj-right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .zakaj-section .zakaj-left {
  width: 600px;
  height: 600px;
  background: url(../Images/Backgrounds/ZakajImage.jpg) no-repeat center;
  background-size: cover;
  -webkit-mask: url("data:image/svg+xml,%3Csvg class='blob-1' viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000000' d='M54,-50.9C68.2,-39.8,76.6,-19.9,76.1,-0.5C75.6,18.9,66.1,37.8,51.9,46C37.8,54.3,18.9,51.9,0.2,51.7C-18.4,51.4,-36.8,53.3,-48.6,45C-60.4,36.8,-65.6,18.4,-64.5,1C-63.5,-16.3,-56.2,-32.6,-44.4,-43.6C-32.6,-54.7,-16.3,-60.5,1.8,-62.3C19.9,-64.1,39.8,-61.9,54,-50.9Z' transform='translate(100 100)' /%3E%3C/svg%3E") no-repeat center;
  mask: url("data:image/svg+xml,%3Csvg class='blob-1' viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000000' d='M54,-50.9C68.2,-39.8,76.6,-19.9,76.1,-0.5C75.6,18.9,66.1,37.8,51.9,46C37.8,54.3,18.9,51.9,0.2,51.7C-18.4,51.4,-36.8,53.3,-48.6,45C-60.4,36.8,-65.6,18.4,-64.5,1C-63.5,-16.3,-56.2,-32.6,-44.4,-43.6C-32.6,-54.7,-16.3,-60.5,1.8,-62.3C19.9,-64.1,39.8,-61.9,54,-50.9Z' transform='translate(100 100)' /%3E%3C/svg%3E") no-repeat center;
}

.zakaj-right-content{
  font-family: var(--font_family_Playfair_Display);
  width: clamp(650px, 70%, 800px);
  margin-right: 200px;
}

.zakaj-right-content .zakaj-right-content-title{
  font-size: 2.7rem;
  color: var(--color_4);
  line-height: 160%;
  margin-bottom: 30px;
}

.zakaj-right-content .zakaj-right-content-text{
  color: var(--color_7);
}
/* End of Zakaj Section */
/* Start of Storitve Section */
main .storitve-section{
  width: 100%;
  height: 100vh;
  background-color: var(--color_1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .storitve-section #naše-paragraph{
  font-family: var(--font_family_Oxygen);
  font-size:var(--size_4);
  color: var(--color_3);
  font-style: italic;
  border-top: 3px solid var(--color_3);
  padding-top: 20px;
}

main .storitve-section #storitve-paragraph{
  font-family: var(--font_family_Playfair_Display);
  font-size: var(--size_6);
  color: var(--color_3);
  line-height: 160%;
  margin-bottom: 30px;
  line-height: 100%;
}

main .storitve-section #nagovor-paragraph{
  font-family: var(--font_family_Oxygen);
  font-size: 1.3rem;
  text-align: center;
  color: var(--color_3);
  padding-top: 20px;
  width: 75%;
}

main .storitve-section #zakljucni-nagovor-paragraph{
  font-family: var(--font_family_Oxygen);
  font-size: var(--size_1);
  text-align: center;
  color: var(--color_3);
  font-style: italic;
  padding-top: 20px;
  width: 75%;
  margin-bottom: 50px;
}

main .storitve-section .storitve-images{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
  font-family: var(--font_family_Montserrat);
  font-size: var(--size_1);
  padding-bottom: 30px;
}
/* End of Storitve Section */
/* Start of Odpiralni Čas Section */
main .odpiralni-cas{
  width: 100%;
  height: 80vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../Images/Backgrounds/OdpiralniCas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main .odpiralni-cas .odpiralni-cas-content{
  width: 50%;
  max-width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color_5);
  border-radius: 10px;
  padding: 20px;
}

.odpiralni-cas .odpiralni-cas-content .odpiralni-cas-content-title{
  font-family: var(--font_family_Playfair_Display);
  font-size: var(--size_3);
  color: var(--color_3);
  line-height: 160%;
  margin-bottom: 30px;
  text-align: center;
}

.odpiralni-cas .odpiralni-cas-content .odpiralni-cas-content-text{
  font-family: var(--font_family_Oxygen);
  font-size: 1.2rem;
  color: var(--color_2);
  line-height: 160%;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 2.5px;
  color: var(--color_7);
}
/* End of Odpiralni Čas Section */
/* Start of 'Kontakt' Section */
main .kontakt-section{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  background-color: var(--color_1);
  font-family: var(--font_family_Oxygen);
  padding-left: 10%;
  padding-right: 10%;
}

main .kontakt-section .kontakt-left,
main .kontakt-section .kontakt-right{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .kontakt-section .kontakt-left #kontakt-title{
  font-family: var(--font_family_Playfair_Display);
  font-size: var(--size_5);
  color: var(--color_3);
  line-height: 160%;
  margin-bottom: 25px;
  text-align: center;
  border-bottom: 1px solid var(--color_3);
  padding-bottom: 20px;
  font-weight: 300;
}

main .kontakt-section .kontakt-left img{
  width: 80px;
  height: 80px;
}

main .kontakt-section .kontakt-left p{
  font-family: var(--font_family_Montserrat);
  font-size: 1.1rem;
  color: var(--color_2);
  line-height: 160%;
  margin-bottom: 30px;
  text-align: center;
}

main .kontakt-section .kontakt-left #kakodonasbtn{
  border: none;
  border-left: 1px solid var(--color_3);
  background-color: var(--color_6);
  font-weight: bold;
  font-family: var(--font_family_Montserrat);
  font-size: var(--size_2);
  font-style: italic;
  width: clamp(300px, 50%, 400px);
  height: 50px;
  cursor: pointer;
}

main .kontakt-section .kontakt-right #kontakt-vprasanja{
  width: 80%;
  font-family: var(--font_family_Playfair_Display);
  font-size: var(--size_1);
  color: var(--color_7);
  line-height: 150%;
  margin-bottom: 25px;
  text-align: center;
  padding-bottom: 20px;
  font-weight: 300;
}

.form-grid {
  width: 500px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr; 
  gap: 25px; 
  font-family: var(--font_family_Montserrat);
}

.form-grid textarea {
  grid-column: span 2; 
  font-family: var(--font_family_Montserrat);
  padding-left: 5px;
  padding-top: 5px;
  height: 100px;
}

.form-grid .kontakt-submit{
  grid-column: span 2;
  border: none;
  background-color: var(--color_3);
  color: var(--color_1);
  font-weight: bold;
  font-family: var(--font_family_Montserrat);
  cursor: pointer;
}

.form-grid input{
  height: 38px;
  padding-left: 5px;
}

input[type="date"] {
  color: var(--color_7);
  opacity: 0.8;
}
/* End of 'Kontakt' Section */
/* Start of 'Footer Section' */
footer{
  width: 100%;
  height: 50vh;
  background-color: var(--color_4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color_1);
}

footer .footer-top-section{
  width: 100%;
  color: var(--color_1);
  font-size: var(--size_6);
  font-family: var(--font_family_JuliettaMessie);
  user-select: none;
  }

  footer .footer-bottom-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 18%;
    padding-right: 18%;
    margin-top: 40px;
    font-family: var(--font_family_Montserrat);
  }

  footer .footer-bottom-section .footer-bottom-left-section .left-section-first-row,
  footer .footer-bottom-section .footer-bottom-left-section .left-section-second-row,
  footer .footer-bottom-section .footer-bottom-left-section .left-section-third-row{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.1rem;
    gap: 10px;
    margin-bottom: 10px;
}

footer .footer-bottom-middle-section{
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer .footer-bottom-right-section img{
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 0 5px;
}

footer .footer-bottom-right-section img:hover{
  transform: scale(1.03);
  transition: 0.5s;
}

  footer img{
    width: 25px;
    height: 25px;
  }
/* End of 'Footer Section' */
